.title {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
}
.form-control-sm {
  margin-bottom: 20px;
}
/* body {
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  border-width: 3px;
  border-style: solid;
  border-color: beige;
  margin-top: 100px;
  margin-bottom: 80px;
  margin-right: 900px;
  margin-left: 150px;
} */
.btn-primary {
  width: 295px;
}
.simple-search {
  text-align: right;
}
#form {
  float: left;
  padding: 10px;
}
